				@font-face {
					font-family: 'trajanpro';
					src: url('6609trajanpro.woff2') format('woff2'),
						url('6609trajanpro.woff') format('woff');
					  font-display: auto;
				}

				.trajanpro{font-family: 'trajanpro' !important;}

						@font-face {
					font-family: 'amelya';
					src: url('7148amelya.woff2') format('woff2'),
						url('7148amelya.woff') format('woff');
					  font-display: auto;
				}

				.amelya{font-family: 'amelya' !important;}

						@font-face {
					font-family: 'pinyon';
					src: url('3387pinyon.woff2') format('woff2'),
						url('3387pinyon.woff') format('woff');
					  font-display: auto;
				}

				.pinyon{font-family: 'pinyon' !important;}

						@font-face {
					font-family: 'better-grade';
					src: url('6309better-grade.woff2') format('woff2'),
						url('6309better-grade.woff') format('woff');
					  font-display: auto;
				}

				.better-grade{font-family: 'better-grade' !important;}

						@font-face {
					font-family: 'betternia';
					src: url('9816betternia.woff2') format('woff2'),
						url('9816betternia.woff') format('woff');
					  font-display: auto;
				}

				.betternia{font-family: 'betternia' !important;}

						@font-face {
					font-family: 'brittanysignatur';
					src: url('497brittanysignatur.woff2') format('woff2'),
						url('497brittanysignatur.woff') format('woff');
					  font-display: auto;
				}

				.brittanysignatur{font-family: 'brittanysignatur' !important;}

						@font-face {
					font-family: 'monsterat';
					src: url('8523monsterat.woff2') format('woff2'),
						url('8523monsterat.woff') format('woff');
					  font-display: auto;
				}

				.monsterat{font-family: 'monsterat' !important;}

						@font-face {
					font-family: 'andrea-bellarosa';
					src: url('5369Andrea-Bellarosa.woff2') format('woff2'),
						url('5369Andrea-Bellarosa.woff') format('woff');
					  font-display: auto;
				}

				.andrea-bellarosa{font-family: 'andrea-bellarosa' !important;}

						@font-face {
					font-family: 'brittney-signature';
					src: url('3559Brittney-Signature.woff2') format('woff2'),
						url('3559Brittney-Signature.woff') format('woff');
					  font-display: auto;
				}

				.brittney-signature{font-family: 'brittney-signature' !important;}

						@font-face {
					font-family: 'amsterdam';
					src: url('3237Amsterdam.woff2') format('woff2'),
						url('3237Amsterdam.woff') format('woff');
					  font-display: auto;
				}

				.amsterdam{font-family: 'amsterdam' !important;}

						@font-face {
					font-family: 'freestyle-script';
					src: url('6415Freestyle-Script.woff2') format('woff2'),
						url('6415Freestyle-Script.woff') format('woff');
					  font-display: auto;
				}

				.freestyle-script{font-family: 'freestyle-script' !important;}

						@font-face {
					font-family: 'back-to-black-demo';
					src: url('4737Back-to-Black-Demo.woff2') format('woff2'),
						url('4737Back-to-Black-Demo.woff') format('woff');
					  font-display: auto;
				}

				.back-to-black-demo{font-family: 'back-to-black-demo' !important;}

						@font-face {
					font-family: 'golden-dream';
					src: url('4286golden-dream.woff2') format('woff2'),
						url('4286golden-dream.woff') format('woff');
					  font-display: auto;
				}

				.golden-dream{font-family: 'golden-dream' !important;}

						@font-face {
					font-family: 'sacramento';
					src: url('2270sacramento.woff2') format('woff2'),
						url('2270sacramento.woff') format('woff');
					  font-display: auto;
				}

				.sacramento{font-family: 'sacramento' !important;}

						@font-face {
					font-family: 'glaston';
					src: url('154glaston.woff2') format('woff2'),
						url('154glaston.woff') format('woff');
					  font-display: auto;
				}

				.glaston{font-family: 'glaston' !important;}

						@font-face {
					font-family: 'candara';
					src: url('8900Candara.woff2') format('woff2'),
						url('8900Candara.woff') format('woff');
					  font-display: auto;
				}

				.candara{font-family: 'candara' !important;}

						@font-face {
					font-family: 'chaparral-pro-light';
					src: url('8901Chaparral-Pro-Light.woff2') format('woff2'),
						url('8901Chaparral-Pro-Light.woff') format('woff');
					  font-display: auto;
				}

				.chaparral-pro-light{font-family: 'chaparral-pro-light' !important;}

						@font-face {
					font-family: 'amotim';
					src: url('9561Amotim.woff2') format('woff2'),
						url('9561Amotim.woff') format('woff');
					  font-display: auto;
				}

				.amotim{font-family: 'amotim' !important;}

						@font-face {
					font-family: 'fabfelt-script-bold';
					src: url('6963Fabfelt-Script-Bold.woff2') format('woff2'),
						url('6963Fabfelt-Script-Bold.woff') format('woff');
					  font-display: auto;
				}

				.fabfelt-script-bold{font-family: 'fabfelt-script-bold' !important;}

						@font-face {
					font-family: 'better-grade';
					src: url('3695Better-Grade.woff2') format('woff2'),
						url('3695Better-Grade.woff') format('woff');
					  font-display: auto;
				}

				.better-grade{font-family: 'better-grade' !important;}

						@font-face {
					font-family: 'monotype-corsiva';
					src: url('8517Monotype-Corsiva.woff2') format('woff2'),
						url('8517Monotype-Corsiva.woff') format('woff');
					  font-display: auto;
				}

				.monotype-corsiva{font-family: 'monotype-corsiva' !important;}

						@font-face {
					font-family: 'chancery-cursive';
					src: url('3519Chancery-Cursive.woff2') format('woff2'),
						url('3519Chancery-Cursive.woff') format('woff');
					  font-display: auto;
				}

				.chancery-cursive{font-family: 'chancery-cursive' !important;}

						@font-face {
					font-family: 'engraversgothic-bt';
					src: url('1897EngraversGothic-BT.woff2') format('woff2'),
						url('1897EngraversGothic-BT.woff') format('woff');
					  font-display: auto;
				}

				.engraversgothic-bt{font-family: 'engraversgothic-bt' !important;}

						@font-face {
					font-family: 'smile-of-the-ocean';
					src: url('3709Smile-of-the-ocean.woff2') format('woff2'),
						url('3709Smile-of-the-ocean.woff') format('woff');
					  font-display: auto;
				}

				.smile-of-the-ocean{font-family: 'smile-of-the-ocean' !important;}

						@font-face {
					font-family: 'edwardian-script';
					src: url('8914edwardian-script.woff2') format('woff2'),
						url('8914edwardian-script.woff') format('woff');
					  font-display: auto;
				}

				.edwardian-script{font-family: 'edwardian-script' !important;}

						@font-face {
					font-family: 'barcelony';
					src: url('8977Barcelony.woff2') format('woff2'),
						url('8977Barcelony.woff') format('woff');
					  font-display: auto;
				}

				.barcelony{font-family: 'barcelony' !important;}

		